:root {
    --yellow: #FBC843;
    --darkgrey: #414A69;
    --headerblack: #2B3144;
    --black: #000000;
}

body {
    margin: 0;
  }
  


  /* ----------- REPEAT STYLE CLASSES ------------ */

  .section-title {
      color: var(--headerblack);
      font-size: 45px;
      line-height: 48px;
      font-family: bebas-neue,sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.22px;
      width:80%;
  }

  .section-sub {
      color: black;
      font-size: 16px;
      line-height: 26px;
      font-family: "Eina03-Regular";
      letter-spacing: -0.47px;
      width:95%;
  }

  .app-link {
      color: var(--darkgrey);
      font-size: 16px;
      line-height: 54px;
      font-family: "Eina03-Regular";
  }

  /* --------- SECTION 1 ------------- */

  #header-bg-div {
      background: var(--yellow);
      position: relative;
      height:415px;
      width:100%;
  }

  #main-heading {
      color:white;
      font-size: 53px;
      line-height: 52px;
      letter-spacing: -1.49979px;
      font-family: bebas-neue,sans-serif;
      font-weight: 400;
      font-style: normal;
  }

  #header-applink {
      position:absolute;
      top:145px;
      
  }

  #header-A7 {
      position:absolute;
      left:-19px;
      top:271px;
      height: 97px;
  }
  
  #header-car1 {
      position:absolute;
      top:293px;
      height: 62px;
      left: 177px;
  }

  #header-porsche {
      position:absolute;
      top:291px;
      height: 81px;
      left:47px;
  }


  /* ------SECTION TWO -------- */

  #section-bg-div {
      background: var(--yellow);
      position:relative;
      margin-top:50px;
      height: 340px;
      width:375px;
  }

  #arrows {
      position: absolute;
      top:40px;
      right: 30px;
      display:flex;
      justify-content: space-between;
  }

  #vehicle-content {
      position:relative;
      top:40px;
      left: 30px;
  }

  #car-title {
      font-size: 40px;
      line-height: 47px;
      font-family: bebas-neue, sans-serif;
      color: var(--black);
  }

  #car-sub {
      font-size: 17px;
      line-height: 20px;
      font-family: bebas-neue, sans-serif;
      color: var(--darkgrey)
  }

  .stat-boxes {
      display:flex;
      align-items: center;
      font-size: 31px;
      line-height: 36px; 
      font-family: bebas-neue, sans-serif;
      margin-top:20px
  }

  .stat-boxes img {
      height: 22px;
      width:57px;
      margin-right:29px;
  }

  #car-image {
      position:absolute;
      top:265px;
  }

/* -----SECTION FOUR --------- */

#trade-bg-div {
    background: var(--yellow);
    height:518px;
    width:307px;
    position:relative;
    left: -6px;
}

#trade-porsche {
    position:absolute;
    top: 180px;
    left:auto;
    right:auto;
}

#trade-phone {
    position:absolute;
    top:30px;
    bottom:auto;
    left:183px
}


/* -------SECTION SIX --------- */

#divider {
    background: #F4F4F5;
    width: 374px;
    height: 4px;
    margin: 20px
}

#cust-font {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: -0.4;
    font-family: "Eina03-Regular";
    font-weight: 400;
}

#customer-bg-div {
    background:var(--yellow);
    width:414px;
    height:469px;
    position:relative;
}

#customer-image {
    position: absolute;
    bottom:0;
    left:50px
}


/* -------FOOTER --------- */

#foot-divider {
    background: #F4F4F5;
    width:374px;
    height:1px;
    margin-bottom: 30px;
}